
.allWrap {overflow:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1;}
.fr{float:right}
.fl{float:left}
.pa{position:absolute}
.pr{position:relative}
.hide {display:none}
.show {display:block}
.iBlock {display: inline-block;}
.mg5{margin:5px;}.mg10{margin:10px;}.mg15{margin:15px;}
.mgt5{margin-top:5px;} .mgt10{margin-top:10px;}
.mgb5 {margin-bottom:5px;}.mgb10 {margin-bottom:10px;}.mgb20 {margin-bottom:20px;}
.pd5 {padding:5px;}.pd10 {padding:10px;} .pd15 {padding:15px;} .pd20{padding:20px;}.pd30 {padding:30px;}.pd50{padding:50px;}
.pdt10 {padding-top:10px;}
.pdb10 {padding-bottom:10px;}
.h90 {height:90px !important;}
.p_top {top:0;} .p_bottom {bottom:0 !important;} .p_left {left:0;} .p_right {right:0;}
.ta_c {text-align:center} .ta_l {text-align:left;} .ta_r {text-align:right;}
.xs12 {font-size:12px;}.xs14 {font-size:14px;}.xs16 {font-size:16px;}.xs18 {font-size:18px;}
.white {color:#fff;} .red {color:#f00;}
.bg_white {background-color:#fff;}
.border_t_b:before, .border_t:before {position:absolute;top:-1px;left:0;display:block;content:'';height:1px;width:100%;border-top:1px solid #dfdfdf;z-index:30;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);-moz-transform:scaleY(0.5);}
.border_t_b:after, .border_b:after {position:absolute;bottom:-1px;left:0;display:block;content:'';height:1px;width:100%;border-bottom:1px solid #dfdfdf;z-index:30;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);-moz-transform:scaleY(0.5);}


/* header */
.header {position:fixed; top:0; left:0; right:0; z-index:40; line-height:250%; display:-weblit-flex; display: flex; padding:.04rem 0;}
.header:after { position:absolute;bottom:-1px;left:0;display:block;content:'';height:1px;width:100%;border-bottom:1px solid #dfdfdf;z-index:30;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);-moz-transform:scaleY(0.5); }
.header_r, .header_l {-webkit-flex:1.5; flex:1.5;}
.header_c {-webkit-flex:7; flex:7;}
.header_r a, .header_l a {display: block; text-align:center;}
.header_r a img, .header_l a img {width:.2rem; height:.2rem;}
.header .position span {width:50%;text-align:center;}
.header .position span em {padding-right:.2rem; background:url("../images/pos_down.png") no-repeat right; background-size:.2rem .15rem;}
.header .goBack {width:15%; height:100%; position:absolute; top:0; left:0; z-index: 9; background:url("../images/back.png") no-repeat center; background-size: .2rem .16rem;}
.header .title {width:100%; text-align:center; font-size:.14rem;}


/* footer */
.footer {position:fixed; bottom:0; left:0; right:0; display:-webkit-flex; display:flex; line-height:1; z-index:40; /*border-top:1px solid transparent;*/}
.footer:before { height:4px; }
.footer a {-webkit-flex:1; flex:1; text-align:center; padding:.04rem 0; font-size:.08rem;}
.footer a em {display:inline-block; width:.24rem; height:.24rem;}
.footer a.m1 em {background:url("../images/menu_1.png") no-repeat center; background-size:contain;}
.footer a.m2 em {background:url("../images/menu_2.png") no-repeat center; background-size:contain;}
.footer a.m3 em {background:url("../images/menu_3.png") no-repeat center; background-size:contain;}
.footer a.m4 em {background:url("../images/menu_4.png") no-repeat center; background-size:contain;}
.footer a.m1.active em {background:url("../images/menuOn_1.png") no-repeat center; background-size:contain;}
.footer a.m2.active em {background:url("../images/menuOn_2.png") no-repeat center; background-size:contain;}
.footer a.m3.active em {background:url("../images/menuOn_3.png") no-repeat center; background-size:contain;}
.footer a.m4.active em {background:url("../images/menuOn_4.png") no-repeat center; background-size:contain;}
.footer a.active p {color:#fc3342;}

/* freshFruit */
.freshFruit .banner_fruit {height:1.6rem; padding-bottom:20px;}
.freshFruit .banner_fruit .swiper-slide {background:skyblue; --webkit-box-sizing: border-box;box-sizing: border-box; padding:10px;}
.freshFruit div.banner_fruit_pagination {bottom: -8px;}






/* container */
.container {padding:10px;}
.container dl {float:left; width:48%; margin:1%; background:#dfdfdf;}



/* toast */
#toast {position:fixed; top:50%; left:50%; z-index: 99999; max-width:2.4rem; padding: .06rem .12rem; text-align:center; color:#fff; background:rgba(0, 0, 0, .6); border-radius: .02rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)}




