* {
	margin: 0;
	padding: 0;
}

ul, ol , li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
}
.clearfix:before,
.clearfix:after {
	display: block;
	content: " ";
	height: 0;
	overflow: hidden;
	clear: both;
}
#navBar {
	max-width: 640px;
	background: yellow;
	white-space: nowrap;
	overflow-x: auto;
}
#navBar > ul > li {
	float: left;
	color:#333;
	text-align: center;
}
#navBar > ul > li > a {
	display: block;
	padding: 12px 6px;
}
#navBar > ul > li.active a {
	background: blue;
	color: white;
}

.banner {
	height: 198px;
	background: #dcb;
	margin-bottom: 12px;
}
.modules > div[id^=module] {
	height: 1800px;
	border: 1px solid #f60;
	margin-top: 20px;
	text-align: center;
	font-size: 100px
}







